body{
    background-color: beige;
    background-image: url(imagenes/patron3.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    place-content: top;
    place-items: center;
    font-size: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100vw;
    color: #333;
}


.contenedor{
    background-color: rgba(255, 255, 255, .6);
    border: 1px solid;
    border-radius: 12px;
    box-shadow: 7px 10px 15px;
    max-width: 600px;
    max-height: 500px;
    min-width: 60vw;
    height: 50vh;
    min-height: 370px;
    font-family: sans-serif;
    margin: 50px;
}

.encabezado{
    background-color: #ffffff00;
    height: 13vh;
    border-radius: 10px;
    place-content: center;
    margin: 15px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

.contenido{
    margin: 15px;
    text-align: left;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    font-size: 19px;
    font-family: monospace;
}

input{
    box-sizing: border-box;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: seashell;
    border-radius: 5px;
    height: 25px;
}

.etiqueta{
    text-align: left;
    font-weight: bold;
}

label{
    text-align: center;
}
select{
    border-radius: 4px;
    border: solid 2px;
    background-color: seashell;
    height: 22px;
    width: 50px;
}
button{
    border: 2px solid;
    border-radius: 4px;
    background-color: limegreen;
    margin: 10px;
}
.asd{
    gap: 0px;
}

